#active{
    background-color: orange;
}

.filter-panel{
    display: flex;
    gap: 3px;
}

.filter-panel > div{
    width: auto;
    border-radius: 5px; 
    border: 2px solid rgb(0, 0, 0); 
    overflow: hidden; 
    width: fit-content;
}

.order {
    display: flex;
    justify-content: space-between; 
    width: 90%; 
    margin: 5px;
    font-weight: bold;
    background-color: #AAAAAA;
    border-radius: 5px; 
    border: 2px solid rgb(0, 0, 0); 
    
}



#values-name{
    font-weight: bolder;
    background-color: unset;
    border: unset;
}

.cell{
    flex: 1;
    margin: 0 10px;
    padding-right: 1px;
    
}

#lookup-tools{
    font-weight: bold;
}

.cell-button{
    flex: 0;
    font-weight: bold;
    border-radius: 15px; 
    border: 3px solid rgb(0, 0, 0); 
}

.edit-tools{
    margin-bottom: 10px;
}

.cell-button:hover{
    transform: scale(1.1);
    background-color: gray;
    cursor: pointer;
}

.row{
    display: flex;
}

.edit-button{
    background-color: lawngreen;
}

.del-button{
    background-color: red;
}