{% include "base.html" %}
{% load static %}

{% block head %}
<link type="text/css" href="{% static 'orders/css/orders_list.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
<span>Фильтр</span>
<div class="filter-panel">
    <div id="0"><a href="?">Все</a></div>
    <div id="1"><a href="?status=1">Готово</a></div>
    <div id="2"><a href="?status=2">Оплачено</a></div>
    <div id="3"><a href="?status=3">В ожидании</a></div>
    {% if status_filter %}
    <script>
        block = document.getElementById('{{status_filter}}')
        block.id = 'active'
    </script>
    {% else %}
    <script>
        block = document.getElementById('0')
        block.id = 'active'
    </script>
    {% endif %}

</div>
<div id="orders-list">
    <div class="order" id="values-name">
        <div class="cell">ID</div>
        <div class="cell">Номер стола</div>
        <div class="cell">Блюда</div>
        <div class="cell">Стоимость</div>
        <div class="cell">Статус</div>
    </div>
    {% for order in orders %}
    <div class="order">
        <div class="cell">{{order.pk}}</div>
        <div class="cell">{{order.table_number}}</div>
        <div class="cell">{{order.get_items_list}}</div>
        <div class="cell">{{order.total_price}}</div>
        <div class="cell">{{order.get_status}}</div>
    </div>
    {% endfor %}
</div>
{% endblock %}