{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'main.css' %}" rel="stylesheet"/>
    {% block head %}
    {% endblock %}
</head>
<body>
<header>
    <nav>
        <a href="{% url 'create' %}"><div class="nav-button">Добавление заказа</div></a>
        <a href="#"><div class="nav-button">Удаление заказа</div></a>
        <a href="{% url 'list' %}"><div class="nav-button">Отображение всех заказов</div></a>
        <a href="#"><div class="nav-button">Изменение статуса заказа</div></a>
        <a href="#"><div class="nav-button">Расчёт выручки</div></a>
    </nav>
</header>
{% block content %}
{% endblock %}
</body>
</html>